# API-ключ для ProxyAPI
PROXYAPI_KEY=

# Базовый URL OpenAI у ProxyAPI
PROXYAPI_BASE_URL=

# Модель
PROXYAPI_MODEL=

DATABASE_URL=
REDIS_URL=

MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_BUCKET=

AMQP_URL=

